@model FileManagerDoadorModel

@{
    ViewData["Title"] = "Arquivos";
}

<style>
    h3 {
        margin-top: 30px;
    }

    a {
        color: white;
    }

    button {
        background-color: cornflowerblue;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
        height: 50px;
        margin-top: 18px;
    }

        button:hover {
            box-shadow: 0px 0px 5px black;
        }

    .image-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }

        .image-container img {
            margin: 5px;
            max-width: 200px;
            max-height: 200px;
            object-fit: contain;
            border: 1px solid black;
        }

        .image-container .image {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
        }

            .image-container .image:hover .overlay {
                display: flex;
            }

            .image-container .image .overlay {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                font-size: 18px;
                align-items: center;
                justify-content: center;
            }

                .image-container .image .overlay button {
                    margin-top: 10px;
                }
</style>

<h3>Seu histórico de imagens</h3>

@*@if (ViewData["Erro"] != null)
{
    <div class="alert alert-danger">@ViewData["Erro"]</div>
}*@

@if (Model.FilesDoador != null && Model.FilesDoador.Any())
{
    <div class="image-container">
        @foreach (var file in Model.FilesDoador)
        {
            <div class="image">
                <img src="@Url.Content("~/images/produtosDoacao/" + User.FindFirst(ClaimTypes.NameIdentifier).Value + "/" + file.Name)" title="@file.Name" />
                <div class="overlay">
                    <button class="btn btn-sm btn-outline-light" onclick="copyToClipboard('@Url.Content("~/images/produtosDoacao/" + User.FindFirst(ClaimTypes.NameIdentifier).Value + "/" + file.Name)')">Copiar caminho da imagem</button>
                    <a class="btn btn-sm btn-outline-light" href="@Url.Action("DeleteFile","ImagensPost",new { fname=file.Name})">Deletar</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <h4>Não há imagens cadastradas.</h4>
}

<script src="~/js/site.js"></script>
