@model DonationAcademy.Areas.Doador.Models.DoadorM

@{
    ViewData["Title"] = "Delete";
}

<style>
    h1 {
        margin-top: 30px;
    }

    a {
        color: white;
    }
</style>

<div>
    <img src="/images/trash-bin.png" />
</div>
<h1>Excluir publicação</h1>

<h3>Tem certeza que deseja excluir essa publicação?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoCurta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoCurta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoDetalhada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoDetalhada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemThumbnailUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemThumbnailUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            Categoria
            @*@Html.DisplayNameFor(model => model.CategoriaDoador)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaDoador.CategoriaDoadorNome)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>*@
        @*<dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
