@model DonationAcademy.Areas.Admin.ViewModels.AdminRegistroUsuarioViewModel

@{
    ViewData["Title"] = "Excluir Usuário";
}


<h1>Excluir Usuário</h1>

<h3>Tem certeza que deseja excluir esse usuário?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailRegister)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailRegister)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVendedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGerente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGerente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDoador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDoador)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneratedPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneratedPassword)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" style="color:white">Voltar</a>
    </form>
</div>
