@model DonationAcademy.Areas.Admin.ViewModels.AdminRegistroUsuarioViewModel

@{
    ViewData["Title"] = "Detalhes do Usuário";
}


<style>
    h1 {
        margin-top: 30px;
    }

    .row .form-group {
        margin-top: 20px;
    }

</style>


<h1>Informações do Usuário</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailRegister)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailRegister)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVendedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGerente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGerente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDoador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDoador)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneratedPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneratedPassword)
        </dd>*@

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" style="color:white">Editar</a> |
    <a asp-action="Index" style="color:white">Voltar</a>
</div>
